- var icons=["fas fa-mug-hot","far fa-folder","far fa-envelope","fas fa-trophy"]
- var count=["1.236","256","1743","17"]
- var namecount=["Coffee Drinks","Completed Projects","Mail Sent","Awards Received"]